# Copy this file to .env and update the value below
# For Android emulator use: http://10.0.2.2:5000/api
# For physical device use:  http://YOUR_LOCAL_IP:5000/api
# For production use:       https://your-api-domain.com/api
API_BASE_URL=http://0.0.0.0:51150/api
